.preview {
    margin-left: 15px;

    .preview-scrollable {
        display: flex;
        flex-direction: column;
        height: 60vh;
        overflow-y: scroll;

        .row {
            display: flex;
    
            p {
                width: 200px;
            }
        }
    }

    .loader {
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    
}