.canvas-container {
    &:focus { outline: none; }

    .canvas {
        margin: 15px;
        background-color: lightgray;
    
        &.draw-cursor {
            cursor: crosshair;
        }
    }
}