.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  main {
    display: flex;
    align-content: space-between;

    .sidePanel {
      margin-left: auto;
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: 500px;
    }
  }
}